/* COMMON STYLES */
@import url('./base.css');
@import url('./container.css');
@import url('./reset.css');

/* SECTIONS STYLES */

/* header */

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  padding-bottom: 14px;
}
.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.5px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--black);
}
.logo-part {
  font-style: italic;
}
.header-logo .icon {
  margin-left: 5px;
}
.header-navigation {
  display: none;
}
.menu-open {
  display: flex;
}
.menu-open .icon {
  display: flex;
  stroke: var(--black);
}
@media screen and (min-width: 768px) {
  .header .container {
    padding: 28px 32px;
  }
  .header-navigation {
    display: flex;
  }
  .header-nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-right: 48px;
  }
  .header-nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: var(--black);
    transition: color var(--time) var(--tratsiyion);
  }
  .header-nav-link:hover,
  .header-nav-link:focus {
    color: var(--orange);
  }
  .icon-list {
    display: flex;
    gap: 18px;
  }
  .icon-link .icon {
    fill: var(--white);
    stroke: var(--black);
    transition: stroke var(--time) var(--tratsiyion);
  }
  .icon-link .icon:hover,
  .icon-link .icon:focus {
    stroke: var(--orange);
  }
  .menu-open {
    display: none;
  }
}
@media screen and (min-width: 1158px) {
  .header-logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.02em;
  }
  .header-nav-list {
    margin-right: 90px;
  }
}
/* hero */
.hero {
  margin: 0 auto;
  padding: 0;
  max-width: 375px;
  height: 620px;
  border-radius: 30px;
  background-image: linear-gradient(
      rgba(17, 17, 17, 0.4),
      rgba(17, 17, 17, 0.4)
    ),
    url('../img/hero_bgr_mob.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.hero .container {
  padding: 395px 40px 20px 40px;
}
.hero-title {
  max-width: 285px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: var(--white);
}
.hero-btn-list {
  margin-top: 32px;
}
li:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 28px;
  height: 41px;
  border-radius: 100px;
  font-weight: 600;
  font-size: 14px;
  color: var(--white);
}
.modal_open {
  min-width: 120px;
  border: 0;
  background-color: var(--orange);
}
.btn-outline {
  padding: 0;
  border: 1px solid #fff;
  min-width: 159px;
  background: transparent;
}
.scroll {
  display: flex;
  align-items: center;
  margin-top: 32px;
  color: var(--white);
}
.scroll-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  background-color: var(--white);
  border-radius: 50%;
  margin-left: 12px;
}
.scroll .icon {
  width: 16px;
  height: 16px;
}
@media screen and (max-width: 767px) and (min-resolution: 2x) {
  .frst-section {
    background-image: linear-gradient(
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.4)
      ),
      url('../img/hero_bgr_mob@2x.jpg');
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    height: 890px;
    background-image: linear-gradient(
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.4)
      ),
      url('../img/hero_bgr_tab.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .hero .container {
    padding: 671px 72px 40px 72px;
  }
  .hero-title {
    max-width: 484px;
    font-size: 28px;
    line-height: 1.21;
  }

  .hero-btn-list {
    display: flex;
    align-items: start;
    justify-content: center;
  }

  .btn {
    padding: 14px 40px;
    height: 41px;
  }
  .modal_open {
    min-width: 144px;
  }
  .btn-outline {
    padding: 0;
    min-width: 183px;
  }
  .scroll {
    justify-content: center;
  }
  .scroll-btn {
    width: 38px;
    height: 38px;
    margin-left: 14px;
  }
  .scroll .icon {
    width: 16px;
    height: 16px;
  }
  @media screen and (min-width: 767px) and (min-resolution: 2x) {
    .frst-section {
      background-image: linear-gradient(
          rgba(17, 17, 17, 0.4),
          rgba(17, 17, 17, 0.4)
        ),
        url('../img/hero_bgr_tab@2x.jpg');
    }
  }
}
@media screen and (min-width: 1158px) {
}
